<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HACKER'S ACADEMY</title>
	</head>
	<body>
		<header>
			<h1>Hacker's Academy</h1>
		</header>
		<div class= "nav_top">
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Contact</li>
			</ul>
		</div>

			<form method="POST" action="/sign-in">
			 <label for="username">Username</label>
			 <input type="text" name="username">
			 <label for="password">Password</label>
			 <input type="password" name="password">
			 <input type="submit">
			</form>


		<div class= "nav_bottom">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
	</body>
	</html>