<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HACKER'S ACADEMY</title>
	</head>
	<body>
		<header>
			<h1>Hacker's Academy</h1>
		</header>
		<div class= "nav_top">
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Contact</li>
			</ul>
		</div>

		<div class = "become">
			<h2>Become a Hacker.</h2>
			<h3>Learn to code. Get a Job. Guarranteed.</h3>
			<button>Apply</button>
		</div>

		<div class = "info">
			<p>Hacker’s Academy
				You’ll begin Hacker’s Academy with a feeling of excitement and anticipation. Twelve weeks later, you’ll follow the footsteps of our trailblazing alumni, taking the methodologies and best practices you perfected at our coding bootcamp to your next job. We’ve built world class web development curriculum and programming courses.</p>
		</div>

		<div class = "about">
			<h4>About Us</h4>
			<p>You CAN learn to program in twelve weeks, but it takes focus. Our ‘bootcamp’-style CodeCore program immerses you full-time in an intensive, fast-paced learning environment where you will be expected to produce. While our focus is on self-learning, you will be mentored by seasoned industry practitioners and learn to work effectively in a team environment.</p>
		</div>

		<div class = "classes">

		</div>

		<div class = "mail">
			<h5>Join Mail</h5>
		</div>

		<div class= "nav_bottom">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
	</body>
	</html>