<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HACKER'S ACADEMY</title>
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	<body>
		<header>
			<h1>Hacker's Academy</h1>
		</header>
		<div class= "nav_top">
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Contact</li>
			</ul>
		</div>

			<form method="POST" action="/sign-in">
			 <label for="first_name">First Name</label>
			 <input type="text" name="first_name">
			 <label for="last_name">Last Name</label>
			 <input type="password" name="last_name">
			 <label for="email">Email</label>
			 <input type="text" name="email">
			 <label for="codingclass">Coding Class</label>
			 <input type="password" name="codingclass">
			 <input type="submit">
			</form>

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.99375383433!2d-74.01081000000002!3d40.71815399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1e474867b1%3A0xd5c8dfd29f457529!2sPS+150+Tribeca+Learning+Center!5e0!3m2!1sen!2sus!4v1414696839414" width="600" height="450" frameborder="0" style="border:0">
		
				</iframe>


		<div class= "nav_bottom">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
	</body>
	</html>