.faculty .fac1 img {
	width: 100px;
	display: inline-block;
	float:left;
	position: relative;
}

.faculty .fac2 img {
	width: 100px;
	display: inline-block;
}

.faculty .fac3 img {
	width: 100px;
	display: inline-block;
}

.faculty .fac4 img {
	width: 100px;
	display: inline-block;
}

.bio {
	margin-bottom: 30px;
	background-color: #eee;
	display: inline-block;
	position: relative;
}

.bio p {
	display: inline-block;
	margin-left: 110px;
	margin-top: -80px;
	padding-right: 20px;
	float: left;
	position: relative;
}